<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_20232425053_Atay_Aksakal_2.Properties.Settings.Istanbul_Katli_OtoparkConnectionString"
            connectionString="Data Source=LAPTOP-3DNF55C3;Initial Catalog=Istanbul_Katli_Otopark;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>